# Ignore SSH keys unless specified in Host subsection
IdentitiesOnly yes

Host bitbucket.org
  IdentityFile ~/.ssh/bitbucket_rsa

Host api.bitbucket.org
  IdentityFile ~/.ssh/bitbucket_rsa

Host heroku.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/heroku_rsa

Host github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/github_rsa

Host gitlab.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/gitlab_rsa

Host ssh.kohlby.fr
  Port 2222
  IdentitiesOnly yes
  IdentityFile ~/.ssh/gitlab_home_rsa

Host hypervisor
  HostName 10.123.0.11
  User adrien
  Port 22
  IdentitiesOnly yes
  IdentityFile ~/.ssh/hypervisor_rsa

Host edgerouter
  Hostname 192.168.1.1
  User ubnt
  Port 22
  PreferredAuthentications password
  PubkeyAuthentication no
